<div class='previewPane'>
  <div class='previewHeader headline'>Preview</div>
  <div class='previewFrame'>{{file.noteContent}}</div>
</div>
<div class='editorPane'>
  <div class='editorHeader headline'>Editor</div>
  <div class='editorFrame'>
    <div id='editor'></div>
  </div>
</div>