body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;

  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .headline {
      background-color: #006d67;
      height: 50px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mainWindowPane {
      position: absolute;
      left: 200px;
      bottom: 0;
      top: 0px;
      right: 0;

    }
    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    .editorPane {
      position: absolute;
      top: 50px;
      bottom: 0;
      right: 0;
      width: 50%;
      .editorFrame {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        .ace_editor {
          border: none;
          width: 100%;
          height: 98%;
        }
      }
    }

    .previewPane {
      position: absolute;
      top: 50px;
      bottom: 0;
      width: 50%;
      border-right: 1px solid #006d67;
      box-sizing: border-box;
      left: 0;
      .previewFrame {
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 90%;
        overflow-y: scroll;
        padding: 0 5%;
      }
    }

  }

  .directoryPane {
    width: 200px;
    height: 100%;
    border-right: 1px solid #006d67;
    box-sizing: border-box;
    float: left;

    background-color: #c3d9ff;
    .fileList {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      width: 200px;
      overflow-y: scroll;
      .fileContainer {
        margin: 5px 0;
        color: #FFFFFF;
        cursor: pointer;
        .fileElement {
          padding: 5px;
          background-color: #006d67;
        }
        .fileDescription {
          font-size: 12px;
          padding: 5px;
          background-color: #00a097;
        }
      }
    }
  }
  .hoverContainer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: #CCCCCC;
    .hoverSettings {
      position: absolute;
      margin: 5% 0 0 10%;
      z-index: 1;
      width: 80%;
      height: 80vh;
      background-color: #FFFFFF;
    }
  }
}




