body {
  margin: 0;
}
.mainWindowPane {
  float: left;
  height: 100vh;
}

.editorPane, .previewPane {
  width: 40%;
}

.directoryPane {
  width: 20%;
}

.editorFrame {
  width: 100%;
  height: 100%;
  border: none;
}

.headline {
  background-color: #006d67;
  height: 50px;
  color: #FFFFFF;
}

.fileList {
  .fileElement {
    margin: 5px;
    border: 1px solid #006d07;
  }
}
