body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
}
.mainWindowPane {
  float: left;
  height: 100vh;
}

.editor {
  width: 80%;
}

.editorPane, .previewPane {
  width: 50%;
}

.previewPane {
  border-right: 1px solid #006d67;
  box-sizing: border-box;
}

.directoryPane {
  width: 20%;
  border-right: 1px solid #006d67;
  box-sizing: border-box;
}

.previewFrame {
  margin: 5%;
}

.editorFrame {
  margin: 5%;
  width: 90%;
  height: 85%;
  border: none;
  textarea {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.headline {
  background-color: #006d67;
  height: 50px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fileList {
  .fileElement {
    margin: 5px;
    border: 1px solid #006d67;
    background-color: #006d67;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
  }
}
.hoverContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #CCCCCC;
  .hoverSettings {
    position: absolute;
    margin: 5% 0 0 10%;
    z-index: 1;
    width: 80%;
    height: 80vh;
    background-color: #FFFFFF;
  }
}
